* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 900px;
  margin: 0 auto;
}
body {
  background-color: grey;
}

.apply-box {
  max-width: 600px;
  padding: 20px;
  background-color: rgb(15, 56, 56);
  margin: 0 auto;
  margin-top: 50px;
  box-shadow: 10% red;
}
